<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Control main page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
  <br><br><h4>Call us at 925-938-HVAC for great savings!!!</h4>
    <img src= https://aircontrolincorporated.com/img/logo/logo-final-2.png alt="logo" width="200" height="100">
    
    <br>
    <div class="topnav">
      <a class="active" href="http://127.0.0.1:8000/#home">Home</a>
      <a href="http://127.0.0.1:8000/about">About</a>
      <a href="http://127.0.0.1:8000/services">Services</a>
      <a href="http://127.0.0.1:8000/contact">Contact</a>
    </div>
    
    <div style="padding-left:16px">
      <!-- <h2>Top Navigation Example</h2>
      <p>Some content..</p> -->
    </div>
    
    
      <img src="https://mail.google.com/mail/u/0/
      https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1.1&permmsgid=msg-f:1707380234678633937&th=17b1d547008b05d1&view=att&disp=safe&saddbat=ANGjdJ9ejvIeuFHswoPypuHHwKoBlTFhnL7GBed8fekRknYwX0RjGnd9JKKnpFHQk8BoOrG1ikWtGiaLhHF4LSlg_TIqWra9pg9YZWJbmoBDbK7Em0-idX6QeomeoaDl491bTe7-MeZ3d_xm68CFrVkvpt79iIpujJ9IwjnNy1hivbMA_43m2cd7-nwblxSr8PfXEoaLU_GXX3msufo1CK_wqs43NTVS20VUz9gcViS1Umlj75kkeTIjDw5V4gNr8NEnEiII7gDjRyB6sh-X48mUzcUGgtQfVN8qNYy8N3Q8714sQkJUSZ2QNKtDcHG4_SUiUY-Qvp3haqsqBrKNumB27OM1oeN3n7Ck_aIwtjkiAqfQdovPWCby5_Gqx-KXCPw-4fd0R-V87oB5g835J_En2r8C1-AaF29ppwWxtbNdTpl9JwGRKs6zKj_XvrQdLzSWnhOWg1K5p6duDFd1zjApbd6SO100_9NHT1XQ9k8OBrzEESGWACvdGvYeD6h0c1_tudpxd5NzXlHj4IAU6PoO4RC7nrCYFkRam2QV-iZ636V8q56IIAfn-z4hPrpN0RnuCvXsZdl9vfCHHS1SpU3tsfsSUDz2QWLS28VCnSyryDlGYymUvtisBZyv36v0VyNS7AcPp5AUsb_KOeqNb6if2IPZqOBzhe-UtJuwKhf33AkmzQWq-QeSpkG3ICI" alt="truck" width="1450" height="900"><br>
      
      <h1>Air Control has Lamorinda and Central Contra Costa covered</h1>
      
      
      <img src="https://mail.google.com/mail/u/0/
      https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1&permmsgid=msg-a:r6823189674049565017&th=17acba143f2b07b5&view=att&disp=safe&realattid=ii_kre6k27w0&saddbat=ANGjdJ9RMLyYp7_bW_bG8E2gHSBHxvsECBu_Tamy2O_0nBJqQbtDvLPjkjnGXZ3uGMOZu4bSM6669yHe1djxHBPw7ouwLrTDf0lCVr4vJ3NDNkrmPPV8caehi4nJkK27wszzJO8lidzMSt2DQ5w4TCb0O76jRHVP_NSCiRSaD0KGn-60jwRzSNyyHsZeV69TR0TVNiId07AXjK0S0Ueg5T1fLFz1ndIiX6wpIgjBHduzmpvDsHnWuKBTHChOsm7Tbk2nyOvcMojazSzbJVnsyDMZ_CVT6BqSqKK16ei18rS3NvAM3cPUJl3BfLpaSKaa5eB15FxTL_20XEZRkn5SvvzLizaWB95hiFK_jbzVKsMDtwQ1bq-Vavc15Vu99koj12s4eRrarzpulH-xXmVOSR-xqPiT1tvYH90YsK8i4c7Z52f2yB5xcU_YwHynB5vQFB5y-eXQ-1MyT6nvxOqLeuBH1TaGt-dDbK2N-v0NhC_Ze2x56V9HOfB3rm6LvVkSGsXof2vZkDx9vOMeoD1Lr_1vH7Wp9W0OTe7xvIg4DMg7xruOCjUkyR8BdIJUU3tZB09tteci4MpwgnrEYY8DzOW3zi-7dbaIE_WAPXIfX1YGi1RwlKzy3tUYB7NihISOMHjzM62LeeMczzrWAH5MuGjk9n13yrWYK0W-LRYLbHQLP4tNB6Q7zV237xKrsW4" alt="heat" width="310" height="240" align="center">
      <img src="https://mail.google.com/mail/u/0/
      https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1&permmsgid=msg-a:r-7603918095970141142&th=17acba885cf7d0f5&view=att&disp=safe&realattid=ii_kre6un760&saddbat=ANGjdJ-P-uumpUo-stStOVtku8VvAV_YnuUo8YyN8_5Zr1d3I9td3TYh4c28zC0s25bEnJli2EjOpPr66HC9y0xHPQXySwVcT9ivcVspU-ca4zOM7lnTG2ecBgwQqwgjF3ljeyDTsSuiRYmt-eCT6ZUrQ1FN02SZm9X5uP9Oo_6_4RwRP5CGy3GG41JMqtftELpmn7GpIFEpjvBljS00Bt2P9iiLdYjiuflcWFpw4S3hdUwdYF9cUw7foPNQxUmlOr1qxAdK_gZ6sL40OL0jJXRE2HNiP8p2MQsvPIfCy5ObErwVUX48-kJ5AsQh3pIyWaYx_KqavW3FA4NH2ODyA0zUt2Xrca03hMQFogo3cbgBsgZ1kTvNRSM29m-DoHVPL2qekLWAaumphZIiZNO1Sr8uycUZGwrMMnZ77eyKEQX9bjTiadXaWyViAVsQycOIzKCHXBtnoXMBxmJs1vCf0AtO2s8oVvulEjF6CoHyGzzb9NpmR4VKkxP68GXVRzLpCW2OzsYe1m_5wQU89L9dI4agmCKahD2OavKhHRRrmvYVAa2t6ergNTLfyTAvUvMSPvu90YaWgQmgdh-L3ZgKXcvwWGYJ9pkWrM16l0_pkP3oGAQrxvzrzTiX3IpZ2lG0ybrdbZJZXNTHuuUphfEtAJ8hanEpr41-Dxoa_EqyvcYv--oN4nbHiqC9PfkVYJc" alt="cold" width="310" height="240" align="center">
      <img src="https://mail.google.com/mail/u/0/
      https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1.1&permmsgid=msg-f:1705930819166571740&th=17acaf0aa7d08cdc&view=att&disp=safe&saddbat=ANGjdJ9ciltQDfl5IJLPqL6jpe-AWFdP6xLGq1jjjRxUAP03D3t_voKwWjgKdECvGCGXzvLvBOgLBHVOHdzs44SOnjhBz4iCToVDXzqAXuhBRgyvyTj5a_bP-E9r9IDnpEmwTlO1dBJfqU-KZW7zSwdE68gg9lzIe3GTK7PZ3EC8kXIm0iZJFULOhfG0WwcIdznedm8MzP7uMaR1RPVmZSJ4J6quxeR8NKZ6cGzsVRvdY-cNr1t9XlbJhM2pDcGsTEgPqNK5Q527ac1z3K-RUn11tmZNpPL3ZVQdd3wCGIaROJKmnzl_ceECTPsMP02XzHIvcmw_rLKkvl08_0GPalDZXm2or72eAQX6hIQh2fjnHmmMlvZALOCtS53jfEIjuvB6tmBsMtjYQ1LOSLbX5bqsBoFJhxjfrWUQhwKDbrEVaQIAyXkn33xrEQnKMYXQ2-fnyBojKczbsDA5O-03kDdMO2EITlpaYyUcLUubnNsh72BTGjhl8WTC2MeGR-N8AowRQ-ZevterB_ulj2IMLNy0V96MqRiaxZOgbQKJby-L6OfX7gsg_ojBoY2reDg5UEZotCmOPet58NubxJef935gjCfxgSOzsWUFpnx2nQa03y_iXmsZxbiZliA4aK3nV2tT0IQzNRouRVtKIXnkNe7voaPanAzYrhRh5bJleFv4lkofF9CiB8K_Lm2G7cw" alt="truck" width="310" height="240" align="center"> 
      <img src="https://mail.google.com/mail/u/0/
      https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1&permmsgid=msg-f:1705946729967545510&th=17acbd832d746ca6&view=att&disp=safe&saddbat=ANGjdJ_UwP3m0QZPfHKc5YhhjvqHEteaolLMPtfnDB6xrT6pvR2fEvKOMtDGX9z9jf64oPh0lPSyoB2xKLsrmVff6EaR0ziBHRQn1wCkOmbfBKYMGWORjd9kBxFD2UTmKu1YqBDenEVBnz3PJ4pdqx88W3fTFLGR3LNxgxmqJOmBCCPc0-9fADLzlPUd-78bhiP1jlNbVoy9oPOUQBSyM_7Y2U4r2wNBiBNIo4Aw-z2A2_4qiV3toqeFx_4apeEJQ0bfuoNo5hyylh1c1IVRiQvZBsy1evFpT_aGRxm8HMfPy253RM6L0c9pKGAhzDKMiusyY2vFCe5pwAZo77_3RW70xZtQ7ibpvcOhUKKt80_69_ziwRXAJsGYyotMo7hhbT82DF3S2IrdMgcdk3TOn6xzuMJUh31gqcnHUbpmpT2LUH3hYUtqxX3A-rpDa_jKtpPNXUHSTz6LZtvJW53sHgZ1zCiezdjr5gyrSBiVSGhBgQfHwg8xCawBC92o8Ah7Xyf_Cxzt4tpEQbskVBit-EyAPb94TDsVO3kEMn6zq_udU0xFj2qCNw7KL4L3ECv4B68Sihr6IkfX1hghe4TFMMnq9o-7qjTZjX7oc90adGH3zP9YQnQy5_GaYWfQYByyBFOmAzBIT7IpXtnndealkTJtnUwAQfd1g4dDou11Otfle0HjPC7WGelnrFaEbjw" alt="truck" width="310" height="240" align="center"> 
<br>
      <h3><a href="http://127.0.0.1:8000/services">Summer heat</a></h3>
      <h3><a href="http://127.0.0.1:8000/services">Winter woes</a></h3></h3>
      <h3><a href="http://127.0.0.1:8000/services">Fridge on fritz?</a></h3>
      <h3><a href="http://127.0.0.1:8000/services">Ventilation</a></h3>
      <h6>We can find a way to give you relief.<br>
      from the hot weather with good<br>
      service for our customers.</h6>
      <h6>Don't worry if your heater freezes up.<br>
      Our trusted service people will find<br>
      the right solution for you.</h6>
      <h6>We know how important fridgeration<br>
      is for you so we will arrive on<br>
      the job with the right solutions for you.</h6>
      <h6>Our ventilation services are great and<br>
      our customers will enjoy the difference<br>
      with cleaner air.</h6>
      <br>
      <h1>Integrity and quality you can count on? Look no further</h1>
      <img src="https://mail.google.com/mail/u/0/
      https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1.1&permmsgid=msg-f:1705930055391169499&th=17acae58d340cbdb&view=att&disp=safe&saddbat=ANGjdJ8ehLfhG8s5UqAfxMYQRxkUxzGCBJCJhCtszaYv9V3_lbv6W-cT85q_DbAcL8vPGr_YmO8VAfJB3woOJUpEaMVJ0uNPLkwpu0iIg408796oU7WxyVO8qEfF47cD91PQGBiPIRINxh3E1L5PnZaSsp16pKe09N_PsWpbYia1hBUUbFHZm41j6p_RwZuLvgWAX3csrunzLr4CLrKNbDr2cUFsOmp797KHnqviATV5FrNYQY7KaukB12istb35CVi7JzHkkGLBu_NlFoWxpeyaYk-DNed0tf2B6WKxQWadeVEY4LmD2J1zMugn6p1CYpoU1ZVUVxSPV0TmGNCEtzQztAtcji0td4lkq6_diKqE8ke2iwxA6YtRnDlhqG_FSzhj65UD2loFDytqBPy0yLD7sAoWWpI90jNVNduWhhf9oE_FOkvUYas4gWii6hN_XXFD8Aswm_8__b6dhKyIa_asZzxnHDeESi0QfpABbuHyA1lTMVt7KJ0Rkxc6QvQCju0_kOExzWEgyhJJMuTM3G4OT7SlV1eqank5gJ7bsb6rcnIRQQj1eOQQNdHTMJFcFlre6R5gH7ffNagFUIa9PWSb40kuJ_HkV_EQgeWE-ozN7vjQ68QGgl4dt7ueYy5VuU9dSkefNEYvrIUYM8K_A5aZtfBQCArN34tVL5-eOFFp4wYDf-OE9qvHq6v-bzA" alt="logo" width="700" height="590"><br>
      <h2>Why choose us?</h2>
      <br><br>
      <h4>*Family owned and operated</h4>
      <br><br><h4>*Licensed, Bonded, and Insured</h4>
      <br><br><h4>*We've been in business for over 30 years</h4>
      <br><br><h4>*Highly ethical with moral standards</h4>
      <br><br><h4>*We stand behind all repairs and replacements</h4>
      <br><br><h4>*Knowledgeable sales staff always available</h4>
      <br><br><h4>*Competitive pricing</h4>
      <br><br><h4>*EPA 608 certified</h4>
      <br><br><h4>*NATE certified technicians</h4>
      <br><br><h4>*Technicians are not paid on commission</h4>
      <br>
      <footer>
        <br>
        <img src= https://aircontrolincorporated.com/img/logo/logo-final-2.png alt="logo" width="300" height="100">
        <br><h5>000 Carolyn Court</h5>
        <h5>Lafayette, CA 94549</h5>
        <h5>Phone: (925) 938-HVAC</h5>
        
        <br><br><h6>&copy 2021 Air Control Incorporated</h6>
        
        <h3>Cities we serve in Contra Costa County</h3>
        
        <ul>
          <h4>
            <li>Lafayette</li>
            <li>Moraga</li>
            <li>Orinda</li>
            <li>Concord</li>
            <li>Pleasant Hill</li>
            <li>Walnut Creek</li>
          </h4>
        </ul>
       
      </footer>
      
      
</body>
</html>

        <!-- <h4>Lafayette</h4>
        <br><br><h4>Moraga</h4>
        <br><br><h4>Orinda</h4>
        <br><br><h4>Concord</h4>
        <br><br><h4>Pleasant Hill</h4>
        <br><br><h4>Walnut Creek</h4>
        <br> -->

