<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Control services</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
  <br><br><h4>Call us at 925-938-HVAC for great savings!!!</h4>
    <img src= https://aircontrolincorporated.com/img/logo/logo-final-2.png alt="logo" width="200" height="100">
    
    <br>
    <div class="topnav">
      <a class="active" href="http://127.0.0.1:8000/#home">Home</a>
      <a href="http://127.0.0.1:8000/about">About</a>
      <a href="http://127.0.0.1:8000/services">Services</a>
      <a href="http://127.0.0.1:8000/contact">Contact</a>
    </div>
    
    <div style="padding-left:16px">
      <!-- <h2>Top Navigation Example</h2>
      <p>Some content..</p> -->
    </div>
    <h1>HVAC Installation & Repair Services in your community</h1>
    <img src="https://mail.google.com/mail/u/0/
    https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1.1&permmsgid=msg-f:1705930635729140106&th=17acaedff217798a&view=att&disp=safe&saddbat=ANGjdJ_68wyAw-LD499WdNQUofW1yk2LVxlSH5hPWUSX5X-M1BXgjV3TUc5VzT5Warv0YhQrPf9D-oIvlEewz0Ffb0oKUn-bPaIRDExxukbS0UX0UhyKkJO0CP6VjNYzyGXwTYEU8SlaAtBRNA7kxsQ6EROYq2pNtT5FGDtRTHmJQ09wQ_g64O4dtqf3IX_eEoGkMQ9LuB5rOspmT6vCVnV4kddaCHE7mtCVJK2S1PPm6tIMMqolH5TeS8Bt722gWgIfbW6O_CoIWvPP1h3pU3iGbaBgBOaWFbKBfxSQ4sSql1Y5Xu4lwdRdIOpM3H82MS44RRIZV2ABd9iO3vOndMOVXDj3pXmOHl2XX9IVO0ztefS94SM7dpS4xW7BF939yR2Bv9LCfRzU3BZKi9CtmF8nrLt7UQm6WgOoWHZlBB70X4EA-gWWOZAp6WQ46TzstWP1k05yxg69thQ2J7JiSSJ_Yhff3RUWvZZ-rzu9HAUZC4WCzw-rtothKHEuuoYul3YS-HszVbbCMKrA2EBXaAolBhXFEoGorpOPzKMHam_UpM09qBDdbwCWmfpzvVdXrTBV8sEHUQ5KIzj3Izc56fRVorrlZ201o_e9IcC07WTyIWx6e_BDiBhS1VL0t8W7sR1pRtpXZd4ep51MGVgqEzJDNIYDdqtxw4EHh_SYBZE3Uo1_Rb9UfLMyBaKpKqU" alt="acf" width="200" height="150" align="right">
    <br><br><h4>AC Repair</h4>
    <h5>
    When the weather outside starts heating up, you don’t want to have to worry about whether or not your AC unit is going to work correctly. Count on the qualified technicians at Air Control Incorporated to ensure that your system is properly installed and that you and your loved ones will be cool and comfortable throughout the hot weather season. Our experienced technicians provide expert air conditioning installation services for your system. We will do our best to install a system that is both cost-efficient and energy-conserving.</h5>
    <br><br><h4>Heating Repair</h4>
    <img src="https://mail.google.com/mail/u/0/
    https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1.1&permmsgid=msg-f:1705931101708369895&th=17acaf4c709e3fe7&view=att&disp=safe&saddbat=ANGjdJ8o-q5qN7hHt_kJWdmfPgVwOfjE5J9yLXA48n0aPbBm93S7qc0AVxoXJsnpuuXIXmLo_Qkds61ZGKaGGmR2p-Ayj5Cupdnpx9e3eGME5NKR-R1noxX4316iSavU-ia9M4gn6PD7wXJOGkNmbZf_FPJq46bRF30RQSK-rYaexSt1OXpX0VykOurjTykcmQmrSp3bF6el1STxgKyMv9lb5WBd00fKHozMsdvo2mzadJfgb9rUaEzpYsznhKaWLyVU9ulwDZkTETY1VTQQSnozC8L8Axf6ksz-8p97ch4EGXhS0VGkUpfBIDe67RHPTr4rhNydRxizprbQFcACcgtSmXtrNMIVPjXz5oC-KTTVMR_l3-MPBbaVbKAxMfi_UPXNngsFIfUUwmIZXRQbrZMLybqzQteYg-HIxxEbkEtjjhzsGFCCz2Ibew1JUA2-8p13NF9Dd7sHUHFhL-KBnINmI1pPdspSNrrnnYm8tqUOZix9zg0m5dr4c_WfXLvZtrtPiQfK8V-OWsBRCCMZR6J4319dmCw-sWzQBzYOdkruzMGbada2TAT245wxukbsIa5duriGhPaPirf_VcMSJod5wcn8WSIh_GYneEE4tmTC1etvXxBbeNkNOKZI-CCVdJuKPxEOoghModi3EWuke7sy9-1YVvVvBOdLMKekuYYnMLyr5pPJUAXqabKiTPk" alt="acf" width="200" height="120" align="left">
    <h5>
    Furnaces tend to go out when we least expect it the most and furnace repair can end up being very costly. Regular maintenance of your furnace helps the unit to work properly and can prevent future issues. Yearly furnace service can reduce repair costs, increase the efficiency of the system, extend the life of the system and lower your utility bills. Trust our trained personnel and HVAC professionals to help you maintain your furnace and heating system all year around!</h5> 
    <br><br><h4>Refrigeration Repair</h4>
    <img src="https://mail.google.com/mail/u/0/
    https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1.1&permmsgid=msg-f:1705930970029810792&th=17acaf2dc7f6e468&view=att&disp=safe&saddbat=ANGjdJ-ll7jhOYU9Pxruzuq9hFDJai4NqVVqmIvNygxnzLKgqcCE87wGSh79qXbAkGoWHXQIBDq2kUXwd74JDnvT3VMtSXmlBPdfOThjRBGjylzb5Evwty9pswVUBkv0naEvGEfUxD6Ky_Sz3UudkG8LrrJLPn0a26vjYm75_aUO3JKZQe7DxPVN29M7VPi86lhz78lqb4Ggjpf8g5N5-T6tb32GYz7Wu3WKY014jA_DCUyDeVMPdNicUby6JTvwrAhpD3OXzi5mSqD0VJI-mmGyThIBUgX82cFLk1xXqR8428Es6yUt8gh8_53A5xEM5Upu4fnrcxANC3k-g93qZ8-1pmfR9IV0OstKL2wbfzRv61HDMqEEx3SrmYRY7ioLO6e0s_EHGa9hhS7OCZGQv6iYZHfbRgA1BBNoTKWlvhW9PPyjgKgvSdAvRqZmENj2M92KEDwAlKtHBXBut9rkbNQfPjYspYbn6k1L1Or2jBXZ5mqtuXeMu4fzdurRBYEnNH3a96nT3TdgjW0j21eaXEN7wbdxvSXmaxkaTn35Up0_CCxQGX0KaIe632j_05mC07uZCozHFAjWrB91AuXemk8C765zHtMPi-p9TXVffpuBbATz27RLOLZaVuM0eZh2NbP_yL9pSmVOfJ0AnxYitseak-EQMPmHpQ4WoA8IXlFMfdKnbTL9Yr3IWd0kEtE" alt="acf" width="200" height="120" align="left">
    <h5>
    Refrigeration technicians and mechanics in the HVAC industry are the professionals who will create and maintain a climate-controlled environment in terms of temperature, air quality and humidity, in a variety of buildings, including homes, high-rise offices, factories, hospitals and shops. These professionals may sometimes be required to put together and install HVAC and refrigeration equipment as well as repair and maintain it in domestic, commercial or industrial settings. Contact us today for a free estimate at (925) 938-4822.</h5>
    <br><br><h4>Ventilation Cleaning</h4>
    <img src="https://mail.google.com/mail/u/0/
    https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1.1&permmsgid=msg-f:1705931376080104672&th=17acaf8c5272ace0&view=att&disp=safe&saddbat=ANGjdJ-jgtMPABUMAWA7y5av8xXBPzL-j89UVgQ0EXrketxOq6QynHGjd_MLLwSiUEoQJAd-i1hpfCQu4xtf2ORzeQkZATXdvNR3upy-ZUQpZUScc4RYmry9qUxiR8d5zWdKHjoIv30rNnkwdSgdKHRxK9o40o7DhF8cfyG9q7qfPX5ryiAhNVk7VUJ2MbgC9P5JcxcRSUslUmogxqtBSVSHs7_cgnniJnjplkgCTuYMZlRNafy0LUrEuF-sjuYcs57z79SkseQb_ZU0Pk3IPrdOBvxyph7OdJuA-Dkc5ilGS9YTnvX01cG3prJUm7PPGCtYNcU4qiI1WUTxmbNvGTjHKJKyszNBDnQCNAPM8Cgm4uAWj3nT9kNGnLag_AGntwJqSy1RFl5F9IVj-2udU_aaHMpYluA9dmqBenD1JQi46C1rB3z4ZCkvj2AS4iwaFiOfp5IjXEN0K-Mu5ChtAVj2Zm0p-X7OPuCxKhu5ZXYhDSWvfPF6zM8W5fyLmZmAmERkKs9bISdjgsOr8clj5ZJyLU_rqhCxj7OUoC4i64wsLlyO_shOSULGYdmz0x_uX3i0zE6tywBYa98reHyqpi8HoqFQpg94SZj18KnwNTowu71g19n_JTPOfazizSRSWtQKmwqSwwv6bX6JOT-gcQBSVw3kmPS9EXDg0ImQaWyvgzAL6-sik_6RGY1GIPU" alt="acf" width="200" height="150" align="left">
    
    <h5>
    From bath fans to gas appliances to chimneys and clothes dryers, Air Control Incorporated specializes in ventilation for your Lafayette California home. After air combustion takes place, it’s essential to ventilate harmful gases to the outdoors. Otherwise, they backdraft into your home and create a health hazard. Radon, a naturally occurring radioactive gas, is the second leading cause of lung cancer in the U.S. At Air Control Incorporated, we ventilate everything to code using proper design techniques and up-to-date safety standards.</h5>
    <br>  
    <footer>
        <br>
        <img src= https://aircontrolincorporated.com/img/logo/logo-final-2.png alt="logo" width="300" height="100">
        <br><h5>000 Carolyn Court</h5>
        <h5>Lafayette, CA 94549</h5>
        <h5>Phone: (925) 938-HVAC</h5>
        
        <br><br><h6>&copy 2021 Air Control Incorporated</h6>
        
        <h3>Cities we serve in Contra Costa County</h3>
        
        <ul>
          <h4>
            <li>Lafayette</li>
            <li>Moraga</li>
            <li>Orinda</li>
            <li>Concord</li>
            <li>Pleasant Hill</li>
            <li>Walnut Creek</li>
          </h4>
        </ul>
       
      </footer>
      
      
</body>
</html>